<html>
    <head>
        <title> FORGOT BY MAIL</title>
    </head>
    <body>

    <%if(isvalid==true){%>
    <form action='/mail/?token=<%=token%>' method='POST'>
       <input type="password" name='password' placeholder="password">
       <input type="password" name='confirmpassword' placeholder="confirm-password">  
       <button type='submit'> CONFIRM</button>
    </form>
     <%}else{%>
      <h1> token expired </h1>
     <%}%>
    </body>
</html>