<html>
    <head>
        <title>resetPassword</title>
    </head>
    <body>
        <form action='/passwordreset' method='POST'>
        <input type='password' name='password' placeholder="Password"><br>
        <input type='password' name='confirmpassword' placeholder="Confirm-Password"><br>
        <input type='submit' value="confirm"><br>
           
        </form>
    </body>
</html>