<html>
    <head>
            <title>forgot password</title>        
    </head>
    <body>
        <form action='/users/sendlink' method="POST">
          <input type="text" name='email' placeholder="email" required>
          <button type='submit'>send mail</button>    
        </form>
    </body>
</html>